/**
 * Copyright 2026 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
  --gem-sys-color--primary: #0b57d0;
  --gem-sys-color--on-primary: #ffffff;
  --gem-sys-color--primary-container: #d3e3fd;
  --gem-sys-color--on-primary-container: #0842a0;
  --gem-ref-palette-blue10: #001944;
  --gem-ref-palette-blue20: #012c6f;
  --gem-ref-palette-neutral10: #1c1917;
  --gem-sys-color--on-surface-low: #727676;
}
